header.header
    .header__top
        .header__breadcrumbs.breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Анкеты
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Все анкеты
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Все анкеты
        ul.header__items-list
            li.header__items-item
                img.header__items-img(src="images/icons/notification.svg", alt="")
            li.header__items-item
                img.header__items-img(src="images/icons/message.svg", alt="")
            li.header__items-item
                img.header__items-img(src="images/header-logo.png", alt="")
                span Николай Склифосовский
                span
                    img(src="images/icons/shevron-down.svg", alt="")
                
