@import "variables";
@import "reset";
@import "fonts";
@import "base";
@import "components/button";
@import "components/input";
@import "components/select";
@import "components/dots";
@import "components/card";
@import "components/range";
@import "components/pagination";
// @import "components/accordion";
@import "components/breadcrumbs";

main {
  width: 100%;
}

.top {
  display: flex;
}

.header {
  width: 100%;
  height: 4.7rem;
  margin-left: 22.4rem;
  padding-right: 6rem;
  background: #fff;
  display: flex;
  align-items: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
  }

  &__items-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__items-item {
    display: flex;
    align-items: center;

    span {
      margin-left: 2rem;
    }
  }
}

.sitebar {
  width: 22.3rem;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #f6f6f6;
  position: fixed;
  left: 0;
  z-index: 2;

  &__logo {
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  &__chevron {
    margin-left: auto;
    margin-top: 0.3rem;
    margin-right: 0.8rem;

    img {
      width: 0.55rem;
      height: 0.9rem;
    }
  }

  &__number {
    background: #78e378;
    color: #fff;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: auto;
  }

  &__list {
    &-bottom {
      margin-top: auto;
    }
  }

  &__items {
  }

  &__item {
    padding: 0 2rem;
    margin-bottom: 1rem;

    &-cheeps {
      display: flex;
      gap: 1.5rem;
      margin-top: 1rem;
    }

    &-cheep {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 0.3rem 0.7rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &.cheep-primary {
        color: var(--blue);
        background: var(--blue-light);
      }
    }

    &-exit {
      margin-top: 2rem;
      background: #f6f6f6;
      padding: 1rem 2rem;

      .sitebar__link {
        margin-bottom: 0;
      }
    }

    &:hover {
      .sitebar__link {
        background: var(--blue-extra-light);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    & > img {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1rem;
    }

    &.is--active {
      background: var(--blue-extra-light);
    }
  }
}

.section {
  padding: 2rem 0 0;
}

.index-block {
  &__list {
    display: flex;
    gap: 2.5rem;
  }
  &__item {
    position: relative;
    top: 0;
    display: flex;
    background: var(--white);
    max-width: 20rem;
    min-width: 18rem;
    height: 8.7rem;
    padding: 2rem 1.5rem;
    border-radius: var(--radius-1);
    transition: var(--transition-0);
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 30px -8px rgba(#000, 0.2);
      top: -0.3rem;
    }
  }
  &__img {
    background: var(--green);
    border-radius: 50%;
    padding: 0.2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
  &__content {
    margin-left: 1rem;
  }
  &__title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--gray);
  }
  &__count {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  &__count-green {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--green-light);
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    vertical-align: top;
  }
}

.section-content {
  background: var(--white);
  padding: 2.5rem;
  border-radius: var(--radius-1);
  transition: var(--transition-0);
  margin-top: 2rem;
  margin-bottom: 20rem;

  &:hover {
    box-shadow: 0px 10px 30px -8px rgba(#000, 0.2);
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
  }

  &__title-nums {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #828282;
    background: #f6f6f6;
    border-radius: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem;
  }

  &__subtitle {
    color: var(--orange);
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/icons/warning-message-icon.svg);
      width: 1.3rem;
      height: 1.3rem;
      left: 0;
      top: 0.5rem;
    }
  }

  &__table {
    margin-top: 1.8rem;
  }

  &__selects-list {
    margin-top: 1.6rem;
  }

  &__sorting {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-list {
      display: flex;
      gap: 2.5rem;
      margin-top: 2rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #f6f6f6;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      position: relative;
      transition: var(--transition-1);
      cursor: pointer;

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        background: #333;
        position: absolute;
        left: 0;
        bottom: -0.6rem;
        z-index: 1;
        transition: var(--transition-1);
      }

      &.is--active {
        font-weight: 700;

        &::after {
          width: 100%;
        }
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &-number {
      padding: 0.1rem 0.8rem;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 2rem;
      color: #828282;
      background: #f7f7f7;
      border-radius: 0.5rem;
    }
  }
}

.selects-list {
  display: flex;
  gap: 1rem;
  justify-content: start;

  &__cheeps {
    margin-left: 2.5rem;
  }
}

.table {
  width: 100%;

  &-header__list,
  &-rows__list {
    width: 100%;
    display: flex;
    padding: 1.6rem 2rem;
  }

  &-header__list {
    background: var(--blue-extra-light);
  }

  &-rows__list {
    border: 1px solid #f6f6f6;
    border-top: 0;

    &:nth-child(odd) {
      background: #fcfcfc;
    }

    &:hover {
      background: #f6f6f6;
    }
  }

  &__row {
    min-width: 14rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    &-short {
      min-width: 4rem;
    }

    span {
      color: var(--gray);
    }

    &.table__row-naming {
      min-width: 25rem;
    }

    &:not(:first-child) {
      margin-left: 3rem;
    }

    &:first-child {
      min-width: 0;
      width: 2rem;
    }

    &:last-child {
      margin-left: auto;
      min-width: 4rem;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.9rem;
      display: flex;
      align-items: center;

      &-icon {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 0.5rem;

        &:first-child {
          margin-left: 1.2rem;
        }
      }
    }

    &-subtitle {
      color: #888888;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;

    &__panel {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
  }
}

.table__row-line {
  width: 12rem;
  height: 0.7rem;
  border-radius: 2rem;
  background: #f6f6f6;
  margin: 0.3rem 0;
  position: relative;
  overflow: hidden;
}

.table__row-line--filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 0.7rem;
  border-radius: 2rem;

  &.orange {
    background: var(--orange);
  }
  &.green {
    background: var(--green);
  }
  &.red {
    background: var(--red);
  }
}

.table__row-checkbox {
  display: flex;
  align-items: center;
  width: 5rem;
}

.table__row-actions {
  display: flex;
  align-items: center;

  img {
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.message-error {
  color: var(--red);
  position: relative;
  padding-left: 2rem;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/error-message-icon.svg);
    width: 1.3rem;
    height: 1.3rem;
    left: 0;
    top: 0.1rem;
  }
}

.message-warning {
  color: var(--orange);
  position: relative;
  padding-left: 2rem;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/warning-message-icon.svg);
    width: 1.3rem;
    height: 1.3rem;
    left: 0;
    top: 0.1rem;
  }
}

.cheeps {
  display: flex;
  gap: 1rem;
}

.cheep {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &-disc {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
  }

  &-text {
    color: #333;
  }

  &.cheep-primary {
    color: var(--blue);
    background: var(--blue-light);
  }

  &.cheep-success {
    background: var(--cheeps-success);

    .cheep-disc {
      background: var(--cheeps-success-disc);
    }
  }

  &.cheep-warning {
    background: var(--cheeps-warning);

    .cheep-disc {
      background: var(--cheeps-warning-disc);
    }
  }

  &.cheep-grey {
    background: #F6F6F6;

    .cheep-disc {
      background: var(--gray);
    }
  }
}

@import "media";
